{% extends 'base.html.twig' %}

{% block body %}
<div class="grid grid-cols-2 gap-4 auto-cols-auto">
    <div class="flex flex-col gap-4">
        {% for item in 0..10 %}
            <div class="rounded border p-4 flex flex-col hover:shadow-sm">
                <span class="text-xs text-green-800">nouveau</span>
                <b>Développeur</b>
                <span>Pour : Internetrama</span>
                <span>Rouen</span>
            </div>
        {% endfor %}
    </div>
    <div class="flex felx-col p-4 rounded border" style="height: fit-content;">
        test
    </div>
</div>
    
{% endblock %}
