{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid grid-cols-3 gap-4 mb-8">
        {% for offer in offers %}
            <a href="{{ path('offer_show', {'id': offer.id}) }}" class="p-4 border rounded hover:shadow-sm">
                <span class="font-bold text-xl">{{ offer.title }}</span>
                <p>{{ offer.description }}</p>
            </a>
        {% endfor %}
        
        <a href="{{ path('recruitement') }}" class="p-4 border rounded hover:shadow-sm flex items-center justify-center bg-gray-100">
            Envoyer votre candidature spontanée
        </a>
    </div>
{% endblock %}
